@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  color: #2c3e50;
  overflow-x: hidden;
}

.page-title {
  text-align: center;
  margin: 100px 0;
  font-size: 36px;
}

@media (max-width: 632px) {
  .page-title {
    margin: 130px 0;
  }
}

.container {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 1000px) {
  .container {
    width: 100%;
  }
}
